@using Proyecto_DSWI.Models
@model IEnumerable<Proyecto_DSWI.Models.Producto>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    

}


@{
    Usuario u = (Usuario)Session["usuario"];
    if (u == null)
    {
        Response.Redirect("~/");
    }
    else
    {
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link rel="stylesheet" href="./css/style.css">
            <!-- BOXICONS  -->
            <link rel="stylesheet" href="./icon/boxicons-2.0.5/css/boxicons.css">
            <link rel="stylesheet" href="./icon/boxicons-2.0.5/css/boxicons.min.css">


            <title>VISTA</title>
        </head>
        <body>
   
            <main class="l-main">
                <section class="home" id="home">
                    <div class="home__container ">
                        <div class="home__sneaker">
                            <div class="home__shape"></div>
                            <img src="./img/imghoe.png" class="home__img" alt="">
                        </div>
                        <div class="home__data">
                            <span class="home__new">New</span>
                            <h1 class="home__title">BIENVENIDO ADMINISTRADOR</h1>
                            <p class="home__description">Explore the new collections of Lorem Ipsum</p>
                            <a href="#new" class="btn">Explore now</a>
                        </div>
                    </div>
                </section>
                </main>
            </body>

                }
                }
